:root{
    --main-color: #038C4C;
    --bg-color: #ffedd7;
    --second-bg-color: #fff;
    --main-black-color: #0D0D0D;
  
    --transition-1: 0.5s ease;
  
    --border: 1px solid transparent;
  }

.home{
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 92.2vh;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 3%;
}

.home .content{
    display: flex-start;
    align-items: start;
    flex-direction: column;
}

.home .content h1{
    color: var(--bg-color);
    font-size: 7rem;
}

.home .content p{
    color: var(--bg-color);
    font-weight: 700;
    font-size: 1.5rem;
}

.home .content span{
    color: var(--main-color);
}